.greeting {
    background-image:url(images/plane.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right center;
    font-family: Georgia;
    width: 70%;
    margin: 0 15%;
    letter-spacing: 0.04em;
}

.icon_line {
    font-family: 'Montserrat';
}

.icon_dpt {
    display: flex;
    justify-content: center;
    border: thick solid rgb(232, 197, 9);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2), inset 5px 5px 10px rgba(0,0,0,0.15);
    transition: box-shadow 2s;
}

.icon_dpt:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 5px 5px 10px rgba(0,0,0,0.07);
}

.icon_dpt > img {
    align-self: flex-end;
    width: 80%;
}

.box > img {
    height: 80%;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 1.21429em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgb(11, 71, 5);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    transition: text-shadow 2s;
}

h2:hover {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.info {
    background: url("images/Group 125.png") no-repeat left center,
    url("images/Group 126.png") no-repeat right center;
    background-size: contain;
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat';
}



.fut {
    background-image: url("images/mainpage/fut.png");
    width: 100%;
    height: 12px;
    background-repeat: space;
    background-size: auto 12px;
}

.button {
    border: 3px solid rgba(147, 182, 98, 0.8);
    text-align: center;
    font-size: 11.5px;
    height: 31px;
    background-color: rgb(249, 250, 233);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    letter-spacing: 0.04em;
    transition: box-shadow 2s;
}

.button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

a:visited {
    color: rgb(11, 71, 5);
}

.btn {
    text-decoration: none;
}

.btn:visited {
    text-decoration: none;
    color: black;
}