.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    background-color: rgb(255, 246, 198);
    margin: 0;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    outline: 0;
    border: none;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-size: 13px;
    text-shadow: 0.3px 0.3px 2px rgba(0, 0, 0, 0.03);
    background: rgb(255, 255, 255) url("images/image 88.png") no-repeat left 2% center;
    background-size: contain;
    color: rgb(240, 227, 157);
}

::-webkit-input-placeholder {color:rgb(240, 227, 157);}
::-moz-placeholder          {color:rgb(240, 227, 157);}
:-moz-placeholder           {color:rgb(240, 227, 157);}
:-ms-input-placeholder      {color:rgb(240, 227, 157);}

.spaced {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.spaced_main {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

body {
    background-color: rgb(250, 251, 244);
    height: auto;
}

.bottom {
    align-self: flex-end;
}

@font-face {
    font-family: Elephant;
    src: url("ELEPHNT.TTF");
}

@font-face {
    font-family: CenGothic;
    src: url("11528.ttf");
}